[submodule "steam_bot"]
	path = steam_bot
	url = https://github.com/YegorDia/Steam-Trade-Bot.git
[submodule "simple_crypto"]
	path = simple_crypto
	url = https://github.com/YegorDia/Simple-Crypto.git
